.popup__text {
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  max-width: 330px;
  margin: 40px auto 33px;
}

@media screen and (max-width: 374px) {
  .popup__text {
    max-width: 273px;
  }
}