.product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
  width: 70px;
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .product__list {
    top: 28px;
    gap: 4px;
  }
}