.product__reviews {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin: 0 0 46px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.product__reviews:hover {
  opacity: 0.7;
}