.popup__content {
  background-color: white;
  width: 378px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 374px) {
  .popup__content {
    max-width: 320px;
  }
}