.product__submit {
  width: 203px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: #333333;
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin-right: 4px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.product__submit:hover {
  opacity: 0.8;
}