.menu__link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  transition: opacity 0.3s;
}

.menu__link:hover {
  opacity: 0.7;
}